


<DIV ALIGN=CENTER>

# Python Programming Language: Fundamentals
## Dr. Utku Pamuksuz 
### pamuksuz@uchicago.edu

  
</DIV>  

-----



![python](python.png "Title")

[link](https://trends.google.com/trends/explore?date=all&geo=US&q=%2Fm%2F05z1_)
![python](python2.png "Title")

### Definitions

Lists, strings and tuples are ordered sequences of objects. 

Unlike strings that contain only characters, list and tuples can contain any type of objects. 

Lists and tuples are like arrays. Tuples like strings are immutables. 

Lists are mutables so they can be extended or reduced at will. 

Sets are mutable unordered sequence of unique elements whereas frozensets are immutable sets.

------

Lists are enclosed in brackets:
	l = [1, 2, "a"]

Tuples are enclosed in parentheses:
	t = (1, 2, "a")
Tuples are faster and consume less memory. See 		Tuples for more information.

Dictionaries are built with curly brackets:
	d = {"a":1, "b":2}

Sets are made using the set() builtin function
------

In [1]:
x = 3
y = 2
x + y

5

<br>
`add_numbers` is a function takes two numbers and adds them together.

In [2]:
def add_numbers(x, y):
    return x + y

In [6]:
a=add_numbers(4, 7)
print (a)

11

In [6]:
#add_numbers updated to take third parameter
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

#print(add_numbers(1, 2))
#print(add_numbers(1, 2, 3))

In [1]:
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

NameError: name 'add_numbers' is not defined

In [9]:
#assign function to a parameter
a=add_numbers

In [10]:
a(16,3)

19

### Types and Sequences

In [7]:
#use "type" to return object's type
type('Programming for Analytics')

str

In [10]:
#type(None)
#type(1)
#type(1.0)
type(add_numbers)

function

<br>
Tuples are an immutable data structure (cannot be altered). memory efficient, used best for dictionary keys and consistant data (i.e. address)

In [11]:
x = (5, 'b', 9, 'a')
type(x)

tuple

In [12]:
y=[5,'b',9,'a']
type(y)

list

In [13]:
y.append(3.5)
print(y)

[5, 'b', 9, 'a', 3.5]

In [14]:
for item in y:
    print(item)

5
b
9
a
3.5

<br>
Above is an example of how to loop through each item in the list. Or use an index operator as below

In [19]:
#https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

!conda install keras
!pip install keras

Requirement already satisfied: keras in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (2.2.0)
Requirement already satisfied: pyyaml in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (from keras) (3.13)
Requirement already satisfied: numpy>=1.9.1 in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (from keras) (1.14.5)
Requirement already satisfied: keras-applications==1.0.2 in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (from keras) (1.0.2)
Requirement already satisfied: h5py in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (from keras) (2.7.0)
Requirement already satisfied: six>=1.9.0 in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (from keras) (1.11.0)
Requirement already satisfied: scipy>=0.14 in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (from keras) (0.19.1)
Requirement already satisfied: keras-preprocessing==1.0.1 in /Users/xuxp001/anaconda3/lib/python3.6/site-packages (from keras) (1.0.1)
yhat 1.10.0 has requirement requests==2.11.1, but you'll have requests 2.19.1 which is incompatible.
yhat 1.10.0 has requirement requests-toolbelt==0.7.0, but you'll have requests-toolbelt 0.8.0 which is incompatible.
tensorflow 1.9.0 has requirement setuptools<=39.1.0, but you'll have setuptools 40.4.3 which is incompatible.
superset 0.22.1 has requirement cryptography==1.9, but you'll have cryptography 2.3.1 which is incompatible.
superset 0.22.1 has requirement future<0.17,>=0.16.0, but you'll have future 0.15.2 which is incompatible.
superset 0.22.1 has requirement idna==2.5, but you'll have idna 2.7 which is incompatible.
superset 0.22.1 has requirement pathlib2==2.3.0, but you'll have pathlib2 2.3.2 which is incompatible.
superset 0.22.1 has requirement python-dateutil==2.6.0, but you'll have python-dateutil 2.7.3 which is incompatible.
superset 0.22.1 has requirement requests==2.17.3, but you'll have requests 2.19.1 which is incompatible.
superset 0.22.1 has requirement six==1.10.0, but you'll have six 1.11.0 which is incompatible.
flower 0.9.1 has requirement tornado==4.2.0, but you'll have tornado 5.1.1 which is incompatible.
You are using pip version 18.0, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [13]:
i=0
while( i != len(y) ):
    print(y[i])
    i = i + 1

5
b
9
a
3.5

In [14]:
#use "+" to concanate the lists
[11,15] + [3,4]

[11, 15, 3, 4]

In [15]:
#check if an item is in the list
2 in [1, 2, 3]

True

In [2]:
x = 'Chocolate is my biggest weakness:('
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:-2]) #exclude the last two chars
print(x[-2:])

C
C
Chocolate is my biggest weakness
:(

In [2]:
x[-1]

'('

In [4]:
#This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.
x[-4:-2]

'ss'

In [19]:
#And this is a slice starting from the 3rd element of the string and going all the way to the end.
x[3:]

'colate is my biggest weakness:('

In [15]:
firstname = 'Utku'
lastname = 'Pamuksuz'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Utku' in firstname)

Utku Pamuksuz
UtkuUtkuUtku
True

mylist = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']
Then:

mylist[0] is 'a'

mylist[0:1] is also 'a'

mylist[1:1] is [] (empty) because "to" excludes the index you enter so it cannot be the same as "from"

If "from" is 2 it will start at index 2. Since indexes start at 0 (0,1,2,3,...) it will be the 3rd item of the array.

If "to" is 3 it will stop at index 2. So mylist[2:3] only gives the value of index 2.

mylist[5:] will give you the entries from index 5 to the end > ['f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']

mylist[:5] will give you the entries from the beginning to index 4 (since 5 will be excluded) > ['a', 'b', 'c', 'd', 'e']

mylist[-1:] will give you the last entry in the list because negative numbers start at the end

mylist[-4:] will start at 4th from last and end at the last entry > ['j', 'k', 'l', 'm']

mylist[5:-4] will start at index 5 and end at 4th from last > ['f', 'g', 'h', 'i']

Now for the optional argument:

mylist[::] is the same as mylist[:] and mylist[::1] since it will give the whole array

mylist[::2] has step = 2 so it will take one every 2 from the array > ['a', 'c', 'e', 'g', 'i', 'k', 'm']

mylist[1::2] will start taking every two entries from index 1 (second entry) > ['b', 'd', 'f', 'h', 'j', 'l']

mylist[::-1] has step = -1 so it will output the whole array but in reverse order > ['m', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

mylist[::-2] will take one every two starting at the end in reverse order > ['m', 'k', 'i', 'g', 'e', 'c', 'a']

mylist[-8:1:-1] when having a negative step (-1) your first argument will start at the "right side" and go down to the left. In this example remember that "to" is excluded but this time being in reverse order it will stop at index 2. > ['f', 'e', 'd', 'c']

In [16]:
#split returns a list of all the words in a string, or a list split on a specific character.
firstname = 'Utku Nikos Di Maria Pamuksuz'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Utku Nikos Di Maria Pamuksuz'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Utku
Pamuksuz

In [17]:
'Utku'+'v2'

'Utkuv2'

<br>
Dictionaries assciation keys with values.

In [18]:
x = {'Utku Pamuksuz': 'pamuksuz@uchicago.edu', 'Amit Darekar': 'amit@gies.com'}
x['Utku Pamuksuz'] # Retrieve a value by using the indexing operator


#[k for (k, v) in x.items() if v == 'pamuksuz@uchicago.edu']

'pamuksuz@uchicago.edu'

In [19]:
#iterate over the keys
for name in x:
    print(x[name])

pamuksuz@uchicago.edu
amit@gies.com

In [6]:
for email in x.values():
    print(email)

pamuksuz@uchicago.edu
amit@gies.com

In [7]:
for name, email in x.items():
    print(name)
    print(email)

Utku Pamuksuz
pamuksuz@uchicago.edu
Amit Darekar
amit@gies.com

In [20]:
#unpack a sequence into separate variables
x = ('Chris', 'Awesome', 'awesomeness@uchicago.edu')
fname, lname, email = x

In [22]:
lname

'Awesome'

Make sure the number of values you are unpacking matches the number of variables being assigned.

In [23]:
#Covenient string formatting with python built-in methods
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Min Ye'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Min Ye bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [24]:
youtube_record = {
'price': 0.324,
'hits': 428000,
'person': 'David Guetta'}

overall_statement = '{} has reached {} hit(s) at a price of {} each for a total of {}'

print(overall_statement.format(youtube_record['person'],
                             youtube_record['hits'],
                             youtube_record['price'],
                             youtube_record['hits']*youtube_record['price']))

David Guetta has reached 428000 hit(s) at a price of 0.324 each for a total of 138672.0

<br>
# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv from canvas, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year


Class csv.DictReader (f, fieldnames=None, restkey=None, restval=None, dialect='excel', *args, **kwds)

Create an object which operates like a regular reader but maps the information read into a dict whose keys are given by the optional fieldnames parameter. The fieldnames parameter is a sequence whose elements are associated with the fields of the input data in order. These elements become the keys of the resulting dictionary. If the fieldnames parameter is omitted, the values in the first row of the file f will be used as the fieldnames. If the row read has more fields than the fieldnames sequence, the remaining data is added as a sequence keyed by the value of restkey. If the row read has fewer fields than the fieldnames sequence, the remaining keys take the value of the optional restval parameter. Any other optional or keyword arguments are passed to the underlying reader instance.

In [1]:
import csv

%precision 2
#with open('mpg.csv') as csvfile:(if u already moved/copied the mpg file into current directory which is ../DMP/)
#https://ipython.readthedocs.io/en/stable/interactive/magics.html
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:5] # The first three dictionaries in our list.

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '4'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'auto(av)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '30'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '5'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2.8'),
              ('year', '1999'),
              ('cyl', '6'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '16'),
              ('hwy', '26'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [2]:
len(mpg)

234

In [3]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [4]:
type (mpg[0])

collections.OrderedDict

In [7]:
#average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

sum(float(d['cty']) for d in mpg) / len(mpg)

#https://blog.teamtreehouse.com/python-single-line-loops

16.86

In [16]:
#A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [17]:
#we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
#lambda signifies an anonymous function. In this case, this function takes the single argument x and returns x[0] (i.e. the item at index 0 in x).
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [18]:
# what are the uniques class types
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [19]:
# find the average hwy mpg for each class of vehicle in our dataset.

HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

In [35]:
import pandas as pd
df1=pd.read_csv('mpg.csv',index_col=0)
df1.shape

(234, 11)

In [33]:
df1.tail(5)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [34]:
df1['class'].unique()

array(['compact', 'midsize', 'suv', '2seater', 'minivan', 'pickup',
       'subcompact'], dtype=object)

In [4]:
df1.groupby(['cyl'])['cty'].mean()

cyl
4    21.012346
5    20.500000
6    16.215190
8    12.571429
Name: cty, dtype: float64

In [36]:
pd.read_csv('mpg.csv', encoding="latin1",error_bad_lines=False)

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [45]:
# details are at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html shift tab tab

In [11]:
%lsmagic #shft tb tb

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.