# Assignment 3 - Pandas DataFrame
## Part 1 (75 Points evenly distributed to first three questions)
The following code loads the olympics dataset (olympics.csv), which was derived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 1 

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. 
def answer_zero():
    # This function should return the row for the first country, which is a Series object.
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. 
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 2
In summer games, which nation has won the most gold medals?


*This function should return a single string value.*

In [3]:
def answer_two():
    return df['Gold'].idxmax()

answer_two()

'United States'

### Question 3
Which nation had the biggest difference on gold medal counts? (between their summer and winter) 

*This function should return a single string value.*

In [4]:
def answer_three():
    return (df['Gold']-df['Gold.1']).idxmax()

answer_three()

'United States'

# PART 2
## Question 4 (25 Points for first two questions + 25 Points Bonus for last two questions)

We will look at the publicly available airline data in this question similar to flights.csv that we covered in class practices. However, in this assignment, you are given 6 months of seperate data along with lookup tables for carriers and airports. Please apply data exploration and pre-procesing techniques and provide your answers for the following questions.



Questions: 

    1. What carrier has flown the 1st most number of flights? How many?  
    2. Which airport has the 3rd most delays? 
    3. What is the most popular day of the week to travel?
    4. What is the 1st and 5th most flown route? 

Hints:

1- pd.concat(list)
list=[A,B,C...] e.g. A= pd.read_csv("1.csv",encoding='utf-8')

2-please leverage from pandas dataframe features including 
groupby(...).size()...
groupby(...).sum().sort_values(....)

3- Dont forget to consider cancelled flights

4- Try to create a new column for "route"

Dataset Details: 
Dataset name: On-Time Performance,
Lookup Table: Carrier Lookup,
Lookup Table: Airport Lookup

In [5]:
A=pd.read_csv("/Users/xwcchen/Desktop/PROGRAMMING FOR ANALYTICS/Week_7_2020/Assignment_3/On-time Performance Data/1.csv",encoding='utf-8')
B=pd.read_csv("/Users/xwcchen/Desktop/PROGRAMMING FOR ANALYTICS/Week_7_2020/Assignment_3/On-time Performance Data/2.csv",encoding='utf-8')
C=pd.read_csv("/Users/xwcchen/Desktop/PROGRAMMING FOR ANALYTICS/Week_7_2020/Assignment_3/On-time Performance Data/3.csv",encoding='utf-8')
D=pd.read_csv("/Users/xwcchen/Desktop/PROGRAMMING FOR ANALYTICS/Week_7_2020/Assignment_3/On-time Performance Data/4.csv",encoding='utf-8')
E=pd.read_csv("/Users/xwcchen/Desktop/PROGRAMMING FOR ANALYTICS/Week_7_2020/Assignment_3/On-time Performance Data/5.csv",encoding='utf-8')
F=pd.read_csv("/Users/xwcchen/Desktop/PROGRAMMING FOR ANALYTICS/Week_7_2020/Assignment_3/On-time Performance Data/6.csv",encoding='utf-8')

list=[A,B,C,D,E,F]  
flight = pd.concat(list)

In [6]:
flight.dropna(axis=0, subset=['DEP_TIME'], inplace=True)

In [7]:
flight.fillna(value=0, axis=0, inplace=True)

In [8]:
#Question 1
Q1 = flight.groupby('UNIQUE_CARRIER',as_index=False)['FLIGHTS'].count().sort_values('FLIGHTS', ascending=False).iloc[0]
Q1
# WN is Southwest Airlines Co.

UNIQUE_CARRIER        WN
FLIGHTS           569023
Name: 13, dtype: object

In [27]:
#Question 1
flight_count=flight['UNIQUE_CARRIER'].value_counts()
flight_count[0:1]
# WN is Southwest Airlines Co.

WN    569023
Name: UNIQUE_CARRIER, dtype: int64

In [10]:
#Question 2
delayed=flight[flight['DEP_DELAY_NEW']>0]
Q2 = delayed.groupby('ORIGIN_AIRPORT_ID',as_index=False)['FLIGHTS'].count().sort_values('FLIGHTS', ascending=False).iloc[2]
Q2
# 11292 is Denver, CO: Denver International.

ORIGIN_AIRPORT_ID    11292
FLIGHTS              58814
Name: 87, dtype: int64

In [46]:
#Question 2
delayed_count=delayed['ORIGIN_AIRPORT_ID'].value_counts()
delayed_count[2:3]
# 11292 is Denver, CO: Denver International.

11292    58814
Name: ORIGIN_AIRPORT_ID, dtype: int64

In [40]:
#Question 3
flight['FL_DATE']=pd.to_datetime(flight['FL_DATE'])
flight['day_of_week'] = flight['FL_DATE'].dt.day_name()
flight.groupby('day_of_week', as_index = False)['FLIGHTS'].count().sort_values('FLIGHTS',ascending=False).iloc[0]

day_of_week    Friday
FLIGHTS        426676
Name: 0, dtype: object

In [45]:
#Question 3
flight['FL_DATE']=pd.to_datetime(flight['FL_DATE'])
flight['day_of_week'] = flight['FL_DATE'].dt.day_name()
flight['day_of_week'].value_counts()[0:1]

Friday    426676
Name: day_of_week, dtype: int64

In [12]:
#Question 4 
#flight['route_id']=flight.groupby(['ORIGIN_AIRPORT_ID','DEST_AIRPORT_ID'],as_index=False)['FLIGHTS'].ngroup()
Q4=flight.groupby(['ORIGIN_AIRPORT_ID','DEST_AIRPORT_ID'],as_index=False)['FLIGHTS'].count().sort_values('FLIGHTS',ascending = False).iloc[0:5]
Q4
# 1st: San Francisco, CA: San Francisco International to Los Angeles, CA: Los Angeles International
# 2nd: Los Angeles, CA: Los Angeles International to San Francisco, CA: San Francisco International
# 3rd: Las Vegas, NV: McCarran International to Los Angeles, CA: Los Angeles International
# 4th: Los Angeles, CA: Los Angeles International to Las Vegas, NV: McCarran International
# 5th: New York, NY: John F. Kennedy International to Los Angeles, CA: Los Angeles International

      ORIGIN_AIRPORT_ID  DEST_AIRPORT_ID  FLIGHTS
3998              14771            12892     6460
2388              12892            14771     6429
2274              12889            12892     5930
2356              12892            12889     5792
2172              12478            12892     5698